<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
          <ion-menu-button></ion-menu-button>
          
              <!-- <ion-back-button defaultHref="action/first"></ion-back-button> -->
            
        </ion-buttons>
        <ion-grid>
          <ion-row>
            
            <ion-col><ion-title>MY HOME</ion-title> </ion-col>
            
          </ion-row>

        </ion-grid>
       
      </ion-toolbar>

</ion-header>

<ion-content>

</ion-content>
