<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons> 
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button expand="block" size="large"> PATMENT ORDER </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-grid>
          <!-- <ion-row align-items: center>
            <ion-col>
              <ion-button expand="block" size="large"> PATMENT ORDER </ion-button>
            </ion-col>
          </ion-row> -->
          <ion-row>
              <ion-col>
                <ion-label >No</ion-label>
              </ion-col>
              <ion-col> <ion-label color="primary">PO#</ion-label></ion-col>
              <ion-col> <ion-label>DATE</ion-label></ion-col>
              <ion-col> <ion-label>STATUS</ion-label></ion-col>
            </ion-row>
          <ion-row>
            <ion-col><p>1</p></ion-col>
            <ion-col><p>1222 small</p></ion-col>
            <ion-col><ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime></ion-col>
            <ion-col>PayNow</ion-col>
          </ion-row>
        </ion-grid>
        <ion-row>
            <ion-col><p>2</p></ion-col>
            <ion-col><p>4444</p></ion-col>
            <ion-col><ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime></ion-col>
            <ion-col>PAID</ion-col>
  
        </ion-row>
  
  </ion-content>
  